body{
    text-align: center;
}
.header{
    margin-bottom: 1em;
}
#wrapper{
    font-size: 0;
    text-align: center;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.grid{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-color: bisque;
    margin: 0;
    margin: 0 auto;
    font-size: 1em;
}
.hovered{
    margin: 0 auto;
    border: 0;
    background-color: grey;
}
.royale-link img{
    width: 200px;
    height: 200px;
    position: fixed;
    padding-left: 40%;
    
}